body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background: rgb(255,136,0);
    background: linear-gradient(56deg, rgba(255,136,0,1) 39%, rgba(255,201,0,1) 70%, rgba(237,217,26,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 20px;
    height: 100vh;
}

h1, h2 {
    font-family: 'Rye', cursive;
    color: #8B4513;
    text-shadow: 2px 2px #000;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    color: #A0522D;
    margin-bottom: 20px;
    text-shadow: 1px 1px #000;
}

.card-info {
    display: flex;
    margin: 0 auto;
    padding: 20px;
}

.card-display {
    height: 120vh;
    width: 50vw;
    margin: 0 auto;
    position: absolute;
    left: 10%;
    top: 0;
}

.stats {
    margin-top: 20px;
}

.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 8px 15px;
    background-color: #8B4513;
    color: white;
    border: 2px solid #A0522D;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    height: 36px;
    font-family: 'Rye', cursive;
    text-shadow: 1px 1px #000;
    font-size: 14px;
    z-index: 100;
}

.back-button:hover {
    background-color: #A0522D;
    transform: scale(1.05);
}

#cardStats {
    margin-left: 20px;
    width: 50vw;
    position: absolute;
    left: 60%;
    color: #5D3A1E;
}

.card-description {
    width: 50%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #3E2723;
}